@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

/* Sections */

#header {
    height: 85px;
    padding: 22px;
    text-align: right;
    color: #FFF;
}
/* Footer */

.footer {
    margin: -22px;
    padding: 0px;
}
.footer a.walkingButton {
    padding: 22px;
    font-size: 22px;
}

/* Main Navigation */

.mainNavigation {
    background: rgba(0,0,0,0.6);
    border-radius: 0px;
    margin-left: -15px;
    margin-right: -15px;
    font-family: 'PT Sans', sans-serif;
}


.navbar-default .navbar-nav > li.open {
    background: transparent !important;
}

.navbar-default .navbar-nav > li .caret {
    float: right;
    margin-top: 11px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    font-size: 140%;
    text-transform: uppercase;
    font-weight: 400;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background: rgba(255, 255, 255, 0.1);
    color: #FFF;
}

.mainNavigation .dropdown-menu {
    background: rgba(50,50,50,0.7);
    min-width: 100%;
}


.mainNavigation .dropdown-menu>li>a {
    color: #FFF !important;
    padding: 8px;
    font-size: 123%;
    white-space: normal;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background: rgba(255, 255, 255, 0.2);
}

.mainNavigation .dropdown-menu>li.disabled>a {
    color: #000 !important;
}

.mainNavigation .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background: rgba(255, 255, 255, 0.2) !important;
}

@media (min-width: 900px) {
    .mainNavigation .navbar-nav {
        width: 100%;
    }
    .mainNavigation .navbar-nav > li {
        width: 33%;
        max-width: 300px;
    }

    .mainNavigation .dropdown-menu li {
        max-width: 300px;
    }
}




/* Container Styles */
body {
	background-color: transparent !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

html {

    background: url(../images/background_small.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section, aside {
    background: #FFF;
    padding: 22px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.28);
}

.footer {
    clear: both;
}

/* Text Styles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
}
h1 {
    text-transform: uppercase;
}
p, #content li {
    font-family: 'Lora', serif;
    font-size: 1.2em;
}

/* Images, Figure */

figure {
    margin-bottom: 22px;
    background-color: #F5F5F5;
    padding: 7px;
    border: 1px solid #DDD;
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.3);
}

figcaption {
    font-style: italic;
}

figure.pull-left {
    margin-right: 22px;
}
figure.pull-right {
    margin-left: 22px;
}

figure.img-320 {
    width: 320px;
}

/* WBT Overrides */
ul {
    /* list-style: none; */
    margin-left: 0;
    padding-left: 10px;
}
.negative_ul > li, .positive_ul > li {
	font-family: 'Lora', serif;
	font-size: 1.1em;
	padding-left: 1em;
	text-indent: -1em;
}
/* Positive/negative uls */

ul.positive_ul > li:before, ul.negative_ul > li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-right: 5px;
    font-size: 90%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.positive_ul > li:before {
    color: green;
    content: "\e013";
}

ul.negative_ul > li:before {
    color: red;
    content: "\e014";
}

ul.simple_list > li{
    list-style-type: disc;
    list-style: disc;
}

/* Questions */
article .container-fluid {
    font-family: 'Lora', serif;
    font-size: 1.2em;
    padding: 0px;
}

article .container-fluid .panel, article .container-fluid .panel .panel-heading {
    border-radius: 0px;
}

article .container-fluid .panel .panel-heading {
  background: none;
  background-color: #34495E;
  /* background: none; */
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
}

article .container-fluid .panel .panel-heading:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-right: 5px;
    font-size: 90%;
    content: "\e085";

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}