[submodule "res/js/wbtframework"]
	path = res/js/wbtframework
	url = https://scm.thm.de/wbtframework/wbtframework/
[submodule "res/js/bethecamera"]
	path = res/js/bethecamera
	url = https://github.com/SteveRidout/bethecamera.git
